.chat-dale-label-container {
    width: 100%;
    display:flex;
    justify-content: center;
    margin-top: 20px;
    
}

.chat-date-label {
    background-color: #e1f5fe;
    color: #4a4a4a;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

